/build
/bin
/local-config.properties
/local-boot.properties
/build.properties
*~
out
/resources/compiled
/resources/classes
/resources/custom/
/nbproject
/accounts.json
/config.json
/error.log
/i10n/**/missing/
/windows.json
/charterbook.json
/autochoose.json

/changelog.txt

/keybindings.json
/item_drop.json
/timers.cfg
/updater.json



/*.iml
/logs

# 20250217 Ender client using .idea for now...
# /.idea
